body{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.parentCont{
  
    width: 100%;
    height: 100%;
    
   background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    margin-top: 5%;
    border: .5px solid gray;
    width: 50%;
    background-color: white;
    gap: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   

}
.input{
    display: inline;
   width: 100%;
   height: 3rem ;
    border: 1px solid rgb(184, 178, 178);
    border-radius: .5rem;
    
}
.input:focus{
   outline-color: #2196f3;
}

.signInBtn{
    width: 100%;
    height:100%;
    height: 2rem;
    cursor: pointer;
}

.signUpBtn{
    width: 80%;
    height: 1.5rem;
}
